{% extends 'base.html' %}
{% block logoutactive %}active{% endblock logoutactive %}
{% block title %}Password change Success{% endblock title %}
{% block content %}
    <body class='bg-info'>
        <div class="container col-md-7">
            <div class="alert alert-success m-5 pb-5" role="alert">
                <div class="container">
                    <h1 class="alert-heading font-weight-bold">Well done!</h1>
                    <hr>
                    <p class='h5'>Your password has been changed successfully.</p>
                    <hr>
                    <div class="border-top pt-2">
                        <button class='float-right'>
                            <small class=" h6">
                            <a href="{% url 'login' %}" class="ml-2 h5">Log In</a>
                            </small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
