{% extends "base.html "%} 
{% block aboutactive %}active{% endblock aboutactive%}
{% block title %}About{% endblock title %} 

{% block content %}
<!--================ Start banner Area =================-->
    <section class="banner-area relative">
      <div class="overlay overlay-bg"></div>
      <div class="banner-content text-center">
        <h1>Contact Us</h1>
        <p>
          We're interested to hear you.
          <br />
        </p>
      </div>
    </section>
<!--================ End banner Area =================-->
<section class="contact-page-area section-gap">
<div class="container mt-0 ">
  <div class="card">
    <div class="card-body">
      <h1 class="font-weight-bold">About Us</h1>
      <h5 class="card-text p-4">
        myblog is a blog of programming languages and frameworks learning.
        We provide a place for that to happen.
        It's open source, meaning you can inspect every little detail of the
        code, or chip in yourself! We are working to make our platform available
        for anyone to stand up similar communities in any niche or passion. We
        believe in transparency and adding value to the ecosystem. We hope you
        poke around and like what you see!
      </h5>
      <h2 class="font-weight-bold mt-5 mb-0 ">Leadership</h2>
      <img
        class="card-img-bottom p-4"
        src="/static/img/banner/b2.jpg"
        alt="image loading..."
      />
      <h5 class="p-4">Our company is led by Co-CEO, COO and Co-CEO.</h5>
      <h2 class="font-weight-bold mt-3 mb-0">Team</h2>
      <img
        class="card-img-bottom p-4"
        src="/static/img/banner/b1.jpg"
        alt="image loading..."
      />
      <h5 class="p-4">Our team is distributed around the world. We have no office, but we come together online each day to build community and improve the software careers of millions.
Happy coding ❤️</h5>
    </div>
  </div>
</div>
</section>
{% endblock content %}
