{% extends 'base.html' %}
{% block title %}Delete Post{% endblock title %}
{% block content %}

    <!--================ Start banner Area =================-->
    <section class="banner-area relative">
      <div class="overlay overlay-bg"></div>
      <div class="banner-content text-center">
        <h1>Delete An Article</h1>
      </div>
    </section>
    <!--================ End banner Area =================-->
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="jumbotron mb-0">
                <div class="container col-md-10">
                    <form method = 'POST'>{% csrf_token %}
                        <h1 class="display-4">{{post.title}}</h1>
                        <hr class="my-4">
                        <p class="lead h1 ml-5">Are You Sure To Delete This Article? &#128562; !</p>
                        
                        <button class="btn btn-outline-danger float-right py-1">
                            <a href=""><spam class='ti-trash mr-1 text-warning'>Delete</spam></a> 
                        </button>
                    </form>
                    <button class="btn btn-outline-info float-right py-1 mr-5">
                        <a href="{% url 'article_details' post.pk  %}"><spam class='ti-close mr-1 text-success'>Cancel</spam></a> 
                    </button>
                </div>
            </div>
        {% else %}
            you are not able to delete this post.
        {% endif %}

    {% else %}
        you are not able to delete Others post.
    {% endif %}
{% endblock content %}